%ul.nav.nav-pills
  %li{class: ('active' if @filter == 'accepted')}= link_to t('magaz.common.accepted'), comments_path(@product, filter: 'accepted'), class: 'btn btn-link'
  %li{class: ('active' if @filter == 'hidden')}= link_to t('magaz.common.hidden'), comments_path(@product, filter: 'hidden'), class: 'btn btn-link'
  %li{class: ('active' if @filter == 'new')}= link_to t('magaz.common.new'), comments_path(@product, filter: 'new'), class: 'btn btn-link'
  %li{class: ('active' if @filter == 'all')}= link_to t('magaz.common.all'), comments_path(@product, filter: 'all'), class: 'btn btn-link'
  