- if notice
  .alert.alert-success= notice

.panel.panel-default
  .panel-heading
    %h4.panel_header= t('magaz.common.dashboard')
  .panel-body
    .row
      = render 'large_panel', panel: 'panel-green', count: Magaz::Order.fresh.count, items: t('.new_orders'), items_link: orders_path(filter: 'new')
      = render 'large_panel', panel: 'panel-primary', count: Magaz::Comment.fresh.count, items: t('.new_comments'), items_link: comments_path(filter: 'new')
