= link_to t('magaz.common.specification'), edit_product_path(@product)
\|
= link_to t('magaz.common.gallery'), product_gallery_path(@product)
\|
= link_to t('magaz.common.variants'), product_variants_path(@product)
