- if property_option.id
  %tr
    %td.td_actions
      = render '/magaz/common/dropdown_menu', up: property_option_up_path(property_option), down: property_option_down_path(property_option), target: property_option, confirm: "Вы уверены, что хотите удалить опцию?"
    %td
      = property_option.name
