- if property_option.id
  %tr
    %td
      = property_option.name
    %td.td_actions
      .actions
        = link_to up_property_property_option_path(@property, property_option), method: :patch, class: 'btn-link' do
          %i.glyphicon.glyphicon-menu-up
        = link_to down_property_property_option_path(@property, property_option), method: :patch, class: 'btn-link' do
          %i.glyphicon.glyphicon-menu-down
        = link_to property_property_option_path(@property, property_option), method: :delete, class: 'btn-link' do
          %i.glyphicon.glyphicon-remove

