@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-select";
@import "pick-a-color-1.2.3.min";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
@import "lightbox";

@import "properties";
@import "products";

$form_field_default_width: 400px;

.panel_header {
  font-weight: bold;
}

.code_column {
  width: 50px;
}

table.editable_table {

  .small_column {
    width: 50px;
  }

  .medium_column {
    width: 200px;
  }

  .th_actions {
    width: 100px;
  }

  .actions {
    visibility: hidden;
    text-align: right;
  }

  tr:hover .actions {
    visibility: visible;
  }

}


form {

  label {
    color: #606060;
  }

  textarea {
    min-width: $form_field_default_width;
    max-width: 600px;
  }

  .small_input_group {
    width: 150px;
  }

  .medium_input_group {
    width: $form_field_default_width;
  }

  .select_input_group select {
    width: $form_field_default_width;
  }

  
}

