@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-select.min";
@import "pick-a-color-1.2.3.min";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
@import "lightbox";
@import "image-picker";
@import "bootstrap3-switch";
@import "bootstrap-datetimepicker";
@import "metisMenu.min";
@import "sb-admin-2";
@import "font-awesome";

@import "properties";
@import "products";
@import "variants";

$form_field_default_width: 400px;

.main {
  padding-top: 70px;
}

.panel_header {
  font-weight: bold;
}

.code_column {
  width: 50px;
}

table {

  .serial_number_column {
    width: 30px;
  }

  .icons_column {
    width: 100px;
  }

  .datetime_column {
    width: 150px;
  }

  .price_column {
    width: 100px;
  }

  .total_price_column {
    width: 150px;
  }

  .count_column {
    width: 150px;
  }

  td.price_cell {
    text-align: right;
  }

  .status_column {
    width: 200px;
    text-align: center;
  }

  td.status_cell {
    text-align: center;
  }

  &.editable_table {

    .th_actions {
      width: 50px;
    }

    .actions {
      visibility: hidden;
      text-align: right;
    }

    tr:hover .actions {
      visibility: visible;
    }
  }
}


form {

  label {
    color: #606060;
  }

  textarea {
    min-width: $form_field_default_width;
    max-width: 600px;
  }

  .small_input_group {
    width: 150px;
  }

  .medium_input_group {
    width: $form_field_default_width;
  }

  .select_input_group select {
    width: $form_field_default_width;
  }

  
}

