.panel.panel-default
  .panel-heading
    %h4.panel_header= t('.profile')
  .panel-body
    = render 'form'

.panel.panel-default
  .panel-heading
    %h4.panel_header= t('.change_pwd')
  .panel-body
    = render 'change_pwd_form'

